flow.json
[{"id":"9072d667.ee67e8","type":"tab","label":"Inject","disabled":false,"info":""},{"id":"4b0cf467.8a3e3c","type":"tab","label":"Switch","disabled":false,"info":""},{"id":"b8a51932.078ff8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"70869d51.5a13a4","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"7b661632.718de8","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"a2027810.aaa8c8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"a908bd5e.1f1d6","type":"ui_group","z":"","name":"Boton","tab":"a2027810.aaa8c8","order":1,"disp":true,"width":6,"collapse":false},{"id":"abc0b3ed.2a5f6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Mi control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a5994dbf.6b4ff","type":"ui_group","z":"","name":"Indicadores","tab":"a2027810.aaa8c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"18ae472e.1f3d09","type":"telegrambot-config","z":"","botname":"bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"1dbadb26.c05835","type":"ngrokauth","z":""},{"id":"6583c223.a0af5c","type":"ngrokauth","z":""},{"id":"117e173f.a70649","type":"ngrokauth","z":""},{"id":"86f9ab51.2ea478","type":"ngrokauth","z":""},{"id":"4ed7ae0c.f81ac","type":"inject","z":"9072d667.ee67e8","name":"","topic":"","payload":"Hola mundo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["ede70430.e9efd8"]]},{"id":"ede70430.e9efd8","type":"debug","z":"9072d667.ee67e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":60,"wires":[]},{"id":"bdf01bab.dabf78","type":"inject","z":"4b0cf467.8a3e3c","name":"","topic":"","payload":"Hola","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["86efd3fb.c78f1","65a8cc16.ee7fe4"]]},{"id":"c6b8cab1.296bb8","type":"inject","z":"4b0cf467.8a3e3c","name":"","topic":"","payload":"adios","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["86efd3fb.c78f1","65a8cc16.ee7fe4"]]},{"id":"86efd3fb.c78f1","type":"switch","z":"4b0cf467.8a3e3c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hola","vt":"str"},{"t":"eq","v":"adios","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":380,"y":120,"wires":[["e1f32825.0685a8"],["34823140.96953e"],["c9dcb092.5fde2"]]},{"id":"e1f32825.0685a8","type":"debug","z":"4b0cf467.8a3e3c","name":"Cuando Hola","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":60,"wires":[]},{"id":"68e3e181.afaef","type":"inject","z":"4b0cf467.8a3e3c","name":"","topic":"","payload":"saludos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["86efd3fb.c78f1","65a8cc16.ee7fe4"]]},{"id":"34823140.96953e","type":"debug","z":"4b0cf467.8a3e3c","name":"Adios","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"c9dcb092.5fde2","type":"debug","z":"4b0cf467.8a3e3c","name":"otro","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":200,"wires":[]},{"id":"21095692.3d597a","type":"ui_button","z":"b8a51932.078ff8","name":"","group":"a908bd5e.1f1d6","order":1,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Saludos a todos","payloadType":"str","topic":"","x":320,"y":180,"wires":[["9e85f66f.32e938","7adb1e9b.a7856","72aa2ff4.83c9e"]]},{"id":"9e85f66f.32e938","type":"ui_audio","z":"b8a51932.078ff8","name":"","group":"a908bd5e.1f1d6","voice":"es-ES","always":true,"x":560,"y":180,"wires":[]},{"id":"43c5775d.30eb68","type":"ui_gauge","z":"b8a51932.078ff8","name":"","group":"a5994dbf.6b4ff","order":0,"width":0,"height":0,"gtype":"compass","title":"Medicion","label":"Litros","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":300,"wires":[]},{"id":"d8b9af39.cec15","type":"ui_slider","z":"b8a51932.078ff8","name":"","label":"Medidas","tooltip":"","group":"a5994dbf.6b4ff","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":460,"y":300,"wires":[["43c5775d.30eb68","df434345.9c67"]]},{"id":"c9d5fb99.e3fe58","type":"random","z":"b8a51932.078ff8","name":"","low":"1","high":"100","inte":"true","property":"payload","x":320,"y":300,"wires":[["d8b9af39.cec15"]]},{"id":"86128703.ffbc98","type":"inject","z":"b8a51932.078ff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["c9d5fb99.e3fe58"]]},{"id":"df434345.9c67","type":"ui_chart","z":"b8a51932.078ff8","name":"","group":"a5994dbf.6b4ff","order":2,"width":0,"height":0,"label":"Gráfica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":400,"wires":[[]]},{"id":"ce5a359d.c7d6a8","type":"inject","z":"b8a51932.078ff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["cd946d90.8cb73"]]},{"id":"cd946d90.8cb73","type":"change","z":"b8a51932.078ff8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["df434345.9c67","76775876.f78038"]]},{"id":"800bf41e.f90018","type":"inject","z":"b8a51932.078ff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["663d17e1.155158"]]},{"id":"663d17e1.155158","type":"change","z":"b8a51932.078ff8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["df434345.9c67","76775876.f78038"]]},{"id":"76775876.f78038","type":"debug","z":"b8a51932.078ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":500,"wires":[]},{"id":"7adb1e9b.a7856","type":"ui_text","z":"b8a51932.078ff8","group":"a908bd5e.1f1d6","order":2,"width":0,"height":0,"name":"","label":"Salida","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":220,"wires":[]},{"id":"72aa2ff4.83c9e","type":"ui_toast","z":"b8a51932.078ff8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Salir","raw":false,"topic":"","name":"","x":570,"y":140,"wires":[[]]},{"id":"a454d8ef.0907c8","type":"telegrambot-command","z":"70869d51.5a13a4","name":"Hola","bot":"18ae472e.1f3d09","command":"Hola","commandType":"str","commandCase":false,"x":290,"y":300,"wires":[["b1b46b40.e6ae88","c0ac0258.daa94"]]},{"id":"b1b46b40.e6ae88","type":"debug","z":"70869d51.5a13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":505.00001525878906,"y":195.00000381469727,"wires":[]},{"id":"cf3937b5.e3e448","type":"telegrambot-notify","z":"70869d51.5a13a4","name":"respuesta","bot":"18ae472e.1f3d09","chatId":"","message":"","parseMode":"","x":1020,"y":260,"wires":[]},{"id":"f9c2a5ec.bbe7d8","type":"inject","z":"7b661632.718de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["783ff963.1dace8"]]},{"id":"783ff963.1dace8","type":"change","z":"7b661632.718de8","name":"","rules":[{"t":"set","p":"variable1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[[]]},{"id":"1fb379a7.4cdaa6","type":"inject","z":"7b661632.718de8","name":"","topic":"","payload":"variable1","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":340,"wires":[["2cf98a74.52df76"]]},{"id":"2cf98a74.52df76","type":"debug","z":"7b661632.718de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":340,"wires":[]},{"id":"96c53190.deefe","type":"inject","z":"7b661632.718de8","name":"","topic":"","payload":"Hola","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["783ff963.1dace8"]]},{"id":"2a4f024c.57b3ce","type":"inject","z":"7b661632.718de8","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["783ff963.1dace8"]]},{"id":"176619d5.4e59a6","type":"function","z":"7b661632.718de8","name":"variables","func":"var variableNode = global.get('variable1')\n\nmsg.payload = variableNode\nreturn msg","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["4cc2cc8a.ebb904"]]},{"id":"925b972c.550478","type":"comment","z":"7b661632.718de8","name":"Estos nodos escriben una variable de tipo flow","info":"","x":330,"y":60,"wires":[]},{"id":"82989248.71dd8","type":"comment","z":"7b661632.718de8","name":"Estos nodos leen una variable de tipo flow","info":"","x":300,"y":300,"wires":[]},{"id":"4cc2cc8a.ebb904","type":"debug","z":"7b661632.718de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":620,"wires":[]},{"id":"c55ea186.01e0a","type":"inject","z":"7b661632.718de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["176619d5.4e59a6"]]},{"id":"2f060d1c.97dfc2","type":"telegrambot-switch","z":"70869d51.5a13a4","name":"puedo ayudarte?","bot":"18ae472e.1f3d09","chatId":"","question":"","answers":["En nada","En todo","No lo sé"],"outputs":3,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":690,"y":280,"wires":[["14789ca2.d9a973"],["42e946ea.14daa8"],[]]},{"id":"14789ca2.d9a973","type":"change","z":"70869d51.5a13a4","name":"Sin ayuda","rules":[{"t":"set","p":"payload","pt":"msg","to":"A bueno","tot":"str"},{"t":"set","p":"variable1","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":240,"wires":[["cf3937b5.e3e448"]]},{"id":"42e946ea.14daa8","type":"change","z":"70869d51.5a13a4","name":"Con ayuda","rules":[{"t":"set","p":"payload","pt":"msg","to":"Me da mucho gusto","tot":"str"},{"t":"set","p":"variable1","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":320,"wires":[["cf3937b5.e3e448"]]},{"id":"65a8cc16.ee7fe4","type":"switch","z":"4b0cf467.8a3e3c","name":"","property":"variable1","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":320,"wires":[["f604fa17.b806b8"],["dbace608.f05d28"]]},{"id":"f604fa17.b806b8","type":"debug","z":"4b0cf467.8a3e3c","name":"True","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":300,"wires":[]},{"id":"dbace608.f05d28","type":"debug","z":"4b0cf467.8a3e3c","name":"False","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":360,"wires":[]},{"id":"c0ac0258.daa94","type":"change","z":"70869d51.5a13a4","name":"username","rules":[{"t":"set","p":"payload","pt":"msg","to":"telegram.from.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495.00001525878906,"y":435.00000381469727,"wires":[["671adcd4.b4f674"]]},{"id":"671adcd4.b4f674","type":"link out","z":"70869d51.5a13a4","name":"telegram-username","links":["30504782.eb3e98"],"x":610.0000152587891,"y":435.00000381469727,"wires":[]},{"id":"30504782.eb3e98","type":"link in","z":"7b661632.718de8","name":"variables-username","links":["671adcd4.b4f674"],"x":195,"y":480,"wires":[["f8a86647.6e14e8"]]},{"id":"f8a86647.6e14e8","type":"function","z":"7b661632.718de8","name":"link","func":"msg.payload = 'Hola ' + msg.payload + ' gracias, puedo ayudarte?'\nreturn msg","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["6fe25c24.ebf3a4"]]},{"id":"5c6eba5f.2acbb4","type":"comment","z":"7b661632.718de8","name":"Como bajar el valor de una varibale global","info":"","x":280,"y":580,"wires":[]},{"id":"7e92aadb.63fdd4","type":"comment","z":"7b661632.718de8","name":"Como conectar con nodos link y uso de funciones","info":"","x":280,"y":440,"wires":[]},{"id":"6fe25c24.ebf3a4","type":"link out","z":"7b661632.718de8","name":"variables-link","links":["b31c6a0d.2851a8"],"x":435,"y":480,"wires":[]},{"id":"b31c6a0d.2851a8","type":"link in","z":"70869d51.5a13a4","name":"telegram-link","links":["6fe25c24.ebf3a4"],"x":895,"y":440,"wires":[["2f060d1c.97dfc2"]]},{"id":"9f7849c7.fd94b8","type":"delay","z":"70869d51.5a13a4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":480,"y":280,"wires":[[]]}]